/* NavBar Laptop */

.nav-link {
  position: relative;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  width: fit-content;
  padding: 1rem;
}

.nav-link::after {
  display: block;
  content: "";
  position: absolute;
  height: 3px;
  background-color: rgb(250 204 21 / 1);
  width: full;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(0) scaleY(var(--tw-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.nav-link::after:hover {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(100) scaleY(var(--tw-scale-y));
}
